* {
  box-sizing: border-box;
}

body {
  padding: 10px;
  background: #2a2a2a;
  color: #ddd;
  font-family:Arial, sans-serif;
}

#all-contents {
  max-width: 800px;
  min-height: 100vh;
  margin:  auto;
  padding: 10px;
}
/* navigation menu */
nav {
    background:rgb #363030; 
    margin: 0 auto;
    display: flex;
    padding: 10px;
    margin-bottom: 20px;
}

h1 {
    display: flex;
    align-items: center;
    color: rgb(236, 227, 227);
    flex: 1;
    margin: 0;
}

#nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-li {
    display: inline-block;
    padding: 0 10px;
}

a {
    text-decoration: none;
    color: #e3dfdf;
}

/* main container area beneath menu */
main {
    background: rgb(234, 10, 10);
    display: flex;
    margin-top: 20px;
    
}

.sidebar {
    margin-right: 25px;
    padding: 10px;
}

.sidebar-img {
    width: 200px;
}

.content {
    flex: 1;
    padding: 15px;
}

/* interests section styles */
#interests {
    border: 4px rgb(0, 0, 0) ridge;
    padding: 8px;
    margin-top: 20px;
}

h2, h3 {
    margin: 0px;
}
